.contactEdit {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-top: 2em;

}

form{
  background-color: black;
  padding: 1em;
  border: 3px solid #570909;
}


.btncontrol{
  display: flex;
	justify-content: space-around;
  margin-top: 1em;
}
