.contactEdit {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-top: 2em;

}

form{

  background-color: black;
  padding: 1em;
  border: 3px solid #570909;
}

input{
  width: 100%;
}


.btncontrol{
  display: flex;
	justify-content: space-around;
  margin-top: 1em;
}

.btn-createContact{
  display: flex;
  justify-content: center;
}

button{
  margin-right: 1em;
}
