
.contactlist {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-top: 2em;

}



h1{
  margin-bottom: 1.5em;
  color: #d7870f;
}

table{
  overflow-x: scroll;
  background-color: black;
  padding: 1em;
  border: 3px solid #570909;
}

th{
  padding: .75em;
}
td{
  overflow-x: scroll;
  padding: .75em;
}

/* Note: overcome Angular's view encapsulation w/ the /deep/ operator
https://www.npmjs.com/package/ngx-pagination#styling */

.paginationDiv{
  margin-top: 1rem;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #930303;
}

.my-pagination /deep/ .ngx-pagination li{
  background: #403f45;
}

.my-pagination /deep/ .ngx-pagination li a{
  color: beige;
}

.my-pagination /deep/ .ngx-pagination li a:hover{
  background: #c03131;
}
