


<div id="navContainer">
  <nav role="navigation">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" routerLink="./">Home</a>
      </li>
      <li class="nav-item" *ngIf="!auth.isLoggedIn()">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item"  *ngIf="auth.isLoggedIn()">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item" *ngIf="auth.isLoggedIn()">
        <a class="nav-link" (click)="auth.logout()">Logout</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
